body{
    background-color: blanchedalmond;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

img{
    height: 350px;
    width: 350px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    text-decoration: underline;
}